html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica Neue' , 'Yu Gothic Medium' , YuGothic , Verdana , Meiryo , sans-serif;
}

img,
iframe {
  vertical-align: bottom;
}

/*<!-- ヘッダー -->*/

header {
  background-color: gray;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  height: 60px;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

header p {
  margin-top: 0;
}

header p image {
  width: 100%;
}

/*メインコンテンツ*/
section {
  max-width: 960px;
  margin: 40px auto 0;
}

section:first-child {
  margin: 100px auto 0;
}

h2 {
  text-align: center;
  font-family: メイリオ;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 60px;
}

section ol {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  justify-content: space-evenly;
}

section ol li {
  flex-basis: 300px;
  list-style-type: none;
}

h3 {
  font-size: 2rem;
}

section ol li p {
  margin-bottom: 60px;
  line-height: 1.5;
  font-size: 1.8rem;
}

section div {
  height: 380px;
  max-width: 960px;
}

/*フッダー*/
footer {
  background-color: grey;
  color: white;
  max-width: 1280px;
  height: 300px;
  margin: 100px auto 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

footer p,
footer ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

footer p {
  font-style: メイリオ;
  font-size: 4rem;
}

footer ul {
  list-style-type: none;
  font-size: 1.5rem;
  margin-top: 15px;
  line-height: 1.5;
}

footer ul li span {
  margin-right: 15px;
}